<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 모든 SQL문을 모아 놓은 곳 -->
<!-- mybatis에서는 namespace의 값이 반드시 존재, 적어도 공백 1칸이라도 있어야 사용가능 -->
<mapper namespace=" ">
	<!-- dept 전체조회 -->
	<!--
		<select id="별칭명" parameterType="전달파라미터의자료형" resultType="리턴결과의자료형">
			 SQL문을 넣는곳
		</select>
	 -->
	 <select id="AllDept" resultType="vo.DeptVO">
	 	SELECT deptno, dname, loc
	 	FROM dept
	 </select>
</mapper>
  